.card {
  display: flex;
  aspect-ratio: 27/34;
  flex-direction: column;
  gap: var(--spacing-base);
  padding: var(--spacing-2x);
  background: var(--surface-secondary);
  /* border: 1px solid var(--border); */
  border-radius: 16px;
  width: 100%;
  min-width: 200px;
  max-width: 320px;
  min-height: 254px;
  max-height: 400px;
  padding: var(--spacing-2x);
  align-items: flex-start;
}

.imageWrapper {
  position: relative;
}

.image {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: var(--spacing-base);
}

.categoryBadge {
  position: absolute;
  top: var(--spacing-base);
  left: var(--spacing-base);
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-2x);
}

.text {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-half);
  min-width: 0;
}

.name {
  font-weight: 600;
  color: var(--text-primary);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price {
  color: var(--text-primary);
}