.tab {
    display: inline-flex;
    align-items: center;
    padding: var(--spacing-half) var(--spacing-base);
    align-items: center;
    gap: var(--spacing-half);
    white-space: nowrap;
    color: var(--txt-tertiary);
}

.tab:hover {
    color: var(--text-primary);
}

.active {
    color: var(--primary-default);
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-color: var(--primary-default);
    text-decoration-thickness: 11.5%;
    text-underline-offset: auto;
    text-underline-position: from-font;
}