.Badge{
    display: inline-flex;
    padding: var(--spacing-half) var(--spacing-base);
    align-items: flex-start;
    border-radius: 999px;
    background: var(--primary-default);
    color: var(--neutral-4);
}

.status{
    display: inline-flex;
    align-items: center;
    gap: var(--spacing-half);
    color: var(--txt-primary);
    background: none;
}

CircleBadge{
    display: flex;
    width: 8px;
    height: 8px;
    align-items: center;
    aspect-ratio: 1;
    border-radius: 100%
}

.success{ background: var(--success); }
.warning{ background: var(--warning); }
.error{ background: var(--error); }
